.boardResource {
  background-color: lightblue;
  border-radius: .5rem;
  border: 2px solid green;
  color: rgb(25, 44, 25);
  display: inline-block;
  height: auto;
  margin: .1rem .1rem;
  padding: .5rem .5rem .5rem 1rem;
  width: 60%;
}
