.header {
  align-items: center;
  background: transparentize($color: rgb(84, 95, 107), $amount: 0);
  display: flex;
  padding-left: 0.5rem;
  width: 100%;
  &__logo {
    background: transparentize($color: rgb(84, 95, 107), $amount: 0);
    display: inline-block;
    height: 3rem;
    margin-top: 0.1rem;
    &:hover {
      transform: perspective(400px) scaleX(-1);
      transition-duration: 2s;
    }
  }
  &__title {
    color: rgb(241, 243, 236);
    font-size: 1.75rem;
    font-weight: 400;
    margin-left: 1rem;
    &:hover {
      color: rgb(0, 248, 0);
      .header__logo {
        transform: perspective(400px) scaleX(-1);
      }
    }
  }
}
