.navbar {
  background-color: rgb(84, 95, 107);
  border: 0.1 px solid white;
  height: auto;
  margin: auto;
  padding: 0 1rem;

  &__link {
    display: inline-block;
    margin: 0.5rem;
    padding-right: 0.2rem;

    &--text {
      color: rgb(229, 241, 229);
      margin: auto;
      text-decoration: none;

      &:hover {
        color: rgb(0, 248, 0);
      }
    }
  }
}

button.MuiButton-contained {
  margin-right: 3px;

  &:hover {
    background-color: rgb(152, 180, 152);
  }
}
