.button-cancel {
  background-color: rgb(243, 243, 193);
  border-radius: 8px;
  color: rgb(46, 42, 42);
  font-weight: bold;
  width: 4.5rem;
}

.button-submit {
  background-color: rgb(20, 45, 12);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  width: 4.5rem;
}
